<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges 1</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="./views/style.css" rel="stylesheet" >
   </head>

   <body>
        <div class="container">
           <h1>Timestamp MicroService.</h1>
           <h3>Part 1 of Free Code Camp Backend Challenges</h3>
           <h4>
              Example Usage:
          </h4>
          <code>
  https://apimicrordpjs.glitch.me/December%2018,%202018
            <br/>
  https://apimicrordpjs.glitch.me/1522250328
          </code>
            <h4>Example output:</h4>
  <code>{ "unix": 1522250328, "natural": "March 25, 2018" }</code>
        </div>
     </body>

</html>
